.hero {
  background-color: #05007C !important;
  padding-bottom: none !important;
}


* {
  font-family: "Frutiger" !important;
}
body {
  background-color: #f2f3f5;
}

@font-face {
  font-family: "Frutiger";
  src: url(assets/fonts/FrutigerLTArabic45Light.ttf) format("truetype");
}

@font-face {
  font-family: "Frutiger";
  src: url(assets/fonts/FrutigerLTArabic65Bold.ttf) format("truetype");
  font-weight: bold;
}

.pt-lg-10 {
  padding-top: 10 !important;
}

.footer-btn:hover {
  background: #000;
  opacity: 0.8;
  transition: all 0.4s;
}

#products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.equal-cards {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

#pricingCards {
  display: flex;
  flex-direction: row-reverse;
}

@media screen and (max-width:820px) {
  .features {
    grid-auto-flow: row;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width:768px) {
  #products-container, .equal-cards {
    grid-auto-flow: row;
    grid-template-columns: repeat(2, 1fr);
  }
  #fragment {
    flex-direction: column;
  }
  #pricingCards {
    display: grid;
  }
}

@media screen and (max-width:576px) {
  #products-container, .equal-cards {
    grid-auto-flow: row;
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-cols {
    grid-template-columns: repeat(2, 1fr);
  }
}

.text-container {
  position: relative;
}
.text-transition {
  transition: transform 0.2s ease-in-out;
}
.text-transition:hover {
  transform: translateY(-5px)
}

.button:hover {
  opacity: 0.9;
}